<div>
  <div class="row">
    <div class="col">  
      <div *ngFor="let gen of shinyPercentageByGen" class="mb-3">
        <div class="parent">
          <div class="child-10">
            <h4>{{ getRegionName(gen.gen) }}</h4>
          </div>
          <div class="child-90">
            <ngb-progressbar class="progressbar" 
              [value]="gen.shiny_percentage ? gen.shiny_percentage : 0" type="success">
              {{ gen.shiny_percentage ? gen.shiny_percentage.toFixed(2) : '0.00' }}%
            </ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h4>Total Shiny Percentage: {{ totalShinyPercentage ? totalShinyPercentage.toFixed(2) : '0.00' }}%</h4>
    </div>
  </div>

  <div>
    <h2>Recently Added Shiny Pokémon</h2>
    <div class="row" id="content">
      <div class="col-md-2 col-sm-4 col-xs-6" *ngFor="let pokemon of recentShinyPokemon">
        <img [src]="pokemon.image" [alt]="pokemon.name" style="height: 150px; width: auto; object-fit: cover;">
      </div>
    </div>
  </div>
</div>
